@import 'variables';

label > input.custom-check{

   display:none;

   & ~ .fa-square{
       display: inline-block;
       color: #c8c8c8;
   }

   & ~ .fa-check-square{
       display: none;
   }

   & ~ .svg--inline--fa {
      /*font-size: 2.5em ;*/
      color: $red;
   }

   & label.active{
       color: $red;
   }

   &:checked{
      & ~ .fa-square{
          display: none;
      }

      & ~ .fa-check-square{
          color: $red;
          display: inline-block;
      }
   }
}

/*div.form-check > div[data-toggle="buttons"] label {
   display: inline-block;
   padding: 6px 12px;
   margin-bottom: 0;
   font-size: 14px;
   font-weight: normal;
   line-height: 2em;
   text-align: left;
   white-space: nowrap;
   vertical-align: top;
   cursor: pointer;
   background-color: none;
   border: 0px solid
   #c8c8c8;
   border-radius: 3px;
   color: #c8c8c8;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;

   &:hover {
      color: #7AA3CC;
   }

   &:active {
      -webkit-box-shadow: none;
      box-shadow: none;
   }
}*/
