// Variables
@import 'variables';

nav.main-top-navbar {
   background-color: $secondary !important;
   color: $primary !important;
   font-weight: bold;
   font-size: 1.10em;
   letter-spacing: 0.1em;
   z-index: 100;

   & a {
      color: $primary !important;
   }
}
