// Variables
@import 'variables';

main.main-content{
   background-image: url("/vcoach/images/background.jpg");
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
}

/* CARDS */
div.card.transparent-card {
   background-color: transparent;
   border: 0px;
}

div.card.semi-transparent-card {

   background-color: rgba(255, 255, 255, 0.5);

   & > .card-header {
      background-color: rgba(255, 255, 255, 0.7);
   }
}

div.home-card {
   cursor: pointer;
   // border: 1px $primary solid;
   z-index: 0;
   letter-spacing: 0.1em;

   &:hover {
      background-color: $primary !important;
      -webkit-box-shadow: -10px 10px 0px 0px $secondary;
      -moz-box-shadow: -10px 10px 0px 0px $secondary;
      box-shadow: -10px 10px 0px 0px $secondary;
      z-index: 2;
      transform: scale(1.1);

      // -webkit-transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out, color 500ms ease;
      // -moz-transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out, color 500ms ease;
      // -o-transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out, color 500ms ease;
      // -ms-transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out, color 500ms ease;
      transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out,
         background-color 500ms ease-in-out;

   }

   &.font-primary:hover {
      color: $secondary;
   }
}

div.user-card {
   width: 100%;

   & div.card-header {
      background-color: $primary;
      color: $secondary;
   }

   & div.card-body {

      background-color: rgba($secondary, 0.7);

      & div.user-menu {
         background-color: $fourth;
         color: $third;

         & ul {
            border-radius: 0px !important;
            list-style-type: none;

            & li {
               padding-top: 0.5rem;
               padding-bottom: 0.5rem;
            }
         }
      }
   }
}
