// Variables
@import 'variables';

/* CARDS */
div.card.transparent-card {
   background-color: transparent;
   border: 0px;
}

div.card.semi-transparent-card {

   background-color: rgba(255, 255, 255, 0.5);

   & > .card-header {
      background-color: rgba(255, 255, 255, 0.7);
   }
}

div.home-card {
   cursor: pointer;
   // border: 1px $primary solid;
   z-index: 0;
   letter-spacing: 0.1em;

   &:hover {
      background-color: $primary !important;
      -webkit-box-shadow: -10px 10px 0px 0px $secondary;
      -moz-box-shadow: -10px 10px 0px 0px $secondary;
      box-shadow: -10px 10px 0px 0px $secondary;
      z-index: 2;
      transform: scale(1.1);

      // -webkit-transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out, color 500ms ease;
      // -moz-transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out, color 500ms ease;
      // -o-transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out, color 500ms ease;
      // -ms-transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out, color 500ms ease;
      transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out,
         background-color 500ms ease-in-out;

   }

   &.font-primary:hover {
      color: $secondary;
   }
}

div.user-card {
   width: 100%;

   & div.card-header {
      background-color: $primary;
      color: $secondary;
   }

   & div.card-body {

      background-color: rgba($secondary, 0.7);

      & div.user-menu {
         background-color: $fourth;
         color: $third;

         & ul {
            border-radius: 0px !important;
            list-style-type: none;

            & li {
               padding: 0.5rem 0 0.5rem 0.5rem;
               cursor: pointer;

               &.disabled {
                  cursor: default;
                  opacity: 0.8;
               }

               &:not(.disabled):hover{
                  text-decoration: underline;
               }

               &:not(.disabled).active{
                  color: $third;
                  text-decoration: underline;
               }
            }
         }
      }
   }
}

/* ALERT */
div.alert.custom-alert {
   border: 1px solid $third;
   background-color: $fourth;
   color: $primary;

   & button.custom-close-btn {
      background-color: $primary;
      /* Overrides bootstrap 'close' class */
      opacity: 1 !important;
      text-shadow: none !important;
      line-height: 1.1;

      &:hover {
         color: #FFF !important;
         transition: color 500ms ease;
         -webkit-transition: color 500ms ease;
         -moz-transition: color 500ms ease;
         -o-transition: color 500ms ease;
         -ms-transition: color 500ms ease;
      }
   }
}

/* TRANSPARENT LIST */
ul.custom-list {
   & li {
      border: 0px;
   }

   & li.separator {
      margin-top: 5px;
      border-top: 2px solid $primary;
   }
}

.hide {
   display: none;
}
