/* CHECKBOXES */

label > input.custom-check {
  display: none;
}

label > input.custom-check ~ .fa-square {
  display: inline-block;
  color: #414141;
}

label > input.custom-check ~ .fa-check-square {
  display: none;
}

label > input.custom-check ~ .svg--inline--fa {
  color: #ff0000;
}

label > input.custom-check label.active {
  color: #ff0000;
}

label > input.custom-check:checked ~ .fa-square {
  display: none;
}

label > input.custom-check:checked ~ .fa-check-square {
  color: #ff0000;
  display: inline-block;
}

/* INPUT TEXT */

input.input-transparent {
  background-color: transparent;
  border: 2px solid #414141;
  /*color: #000 !important; /* Ovverides bootstrap */
}

input.input-transparent.border-white {
  border: 1px solid #FFF;
}

input.input-transparent:focus {
  background-color: transparent;
}

input.input-transparent:active {
  background-color: transparent;
}

input.input-transparent:hover {
  background-color: transparent;
}

/* BUTTONS */

div.custom-primary-btn {
  color: #ff0000;
  border: 2px solid #ff0000;
  background-color: transparent;
  transition: background-color 500ms ease-in-out;
}

div.custom-primary-btn:hover {
  color: #000;
  background-color: #ff0000;
  cursor: pointer;
}

div.custom-secondary-btn {
  color: #EDEDED;
  border: 2px solid #EDEDED;
  background-color: transparent;
  transition: background-color 500ms ease-in-out;
}

div.custom-secondary-btn:hover {
  color: #000;
  background-color: #EDEDED;
  cursor: pointer;
}

/* SELECT */

select.custom-select-transparent {
  background-color: transparent;
  color: #ff0000;
}

