main.main-content {
  background-image: url("/vcoach/images/background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

/* CARDS */

div.card.transparent-card {
  background-color: transparent;
  border: 0px;
}

div.card.semi-transparent-card {
  background-color: rgba(255, 255, 255, 0.5);
}

div.card.semi-transparent-card > .card-header {
  background-color: rgba(255, 255, 255, 0.7);
}

div.home-card {
  cursor: pointer;
  z-index: 0;
  letter-spacing: 0.1em;
}

div.home-card:hover {
  background-color: #ff0000 !important;
  box-shadow: -10px 10px 0px 0px #252525;
  z-index: 2;
  transform: scale(1.1);
  transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out, background-color 500ms ease-in-out;
}

div.home-card.font-primary:hover {
  color: #252525;
}

div.user-card {
  width: 100%;
}

div.user-card div.card-header {
  background-color: #ff0000;
  color: #252525;
}

div.user-card div.card-body {
  background-color: rgba(37, 37, 37, 0.7);
}

div.user-card div.card-body div.user-menu {
  background-color: #414141;
  color: #af0404;
}

div.user-card div.card-body div.user-menu ul {
  border-radius: 0px !important;
  list-style-type: none;
}

div.user-card div.card-body div.user-menu ul li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

